* {
  font-family: "Verdana", cursive, sans-serif;
  color: rgb(219, 250, 211);
}

body {
  background-image: url("./img/bg-image.png");
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

h1 {
  color: #234668;
}


